<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <a href="user_view"><Button>Go Back</Button></a>
    <div class="table-data">
        <h2>No Records found </h2>
        <a href="grievance">Click here to aly for a new grievance</a>
    </div>
</body>
</html>